#jupyterlab
#jupyter
pandas
mysql-connector-python
unidecode
sqlalchemy
pymysql
datasets
ipywidgets
psycopg2
nltk
PyPDF2
pdfminer
#textract
pytesseract
opencv-python
swifter
unidecode
scikit-multilearn
scikit-learn
seaborn==0.13.0
google-generativeai
